{% load static %}
<!DOCTYPE html>
<script src="{% static 'javascript/login2.js' %}" defer></script>
<div class="sidebar" id="sidebar">
    <div class="header-menu">
        <div class="menu-btn" id="menu-btn">
            <i class="fa-solid chevron-left">&#x2329</i>
        </div>
        <div class="user" id="user-type">
            <div class="user-img">
                <img src="{% static 'image/Andryus.jpeg' %}" alt="user">
                <div class="user-data">
                    <span class="firstname" id="user-name"></span>  <!-- Agregado ID 'user-name' -->
                    <span class="firstapell" id="user-lastname"></span>  <!-- Agregado ID 'user-lastname' -->
                    <span class="lvlsecurity" id="roles"></span>  <!-- Agregado ID 'roles' -->
                </div>
            </div>
        </div>
        <ul class="menu">
            <li class="menu-link menu-item-dropdown OpcMenu" data-template="noticias.html">
                <a href="#" class="menu-link">
                    <i class="fa-solid house-chimney-window">&#xE00D</i>
                    <span>Noticias</span>
                </a>
            </li>
            <li class="menu-item menu-item-static hidden">
                <a href="#" class="menu-link">
                    <i class="fa-solid bell">&#xF0A2</i>
                    <span>Notificaciones</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-link menu-item-dropdown OpcMenu" data-template="perfil_usuario.html">
                <a href="#" class="menu-link OpcMenu">
                    <i class="fa-solid user-large">&#xF406</i>
                    <span>Perfil Usuario</span>
                </a>
            </li>
        
            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid print">&#x2399</i>
                    <span>Servicios del Usuario</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li data-template="recibos_pagos.html"><a href="#" class="sub-menu-link OpcMenu" data-template="recibos_pagos.html">Recibo de Pago</a></li>
                    <li data-template="constancia_trabajo.html"><a href="#" class="sub-menu-link OpcMenu" data-template="constancia_trabajo.html">Constancia de Trabajo</a></li>
                    <li data-template="arc.html"><a href="#" class="sub-menu-link OpcMenu" data-template="arc.html">Certificación de Ingreso</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Relación de Vacaciones</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Relación de Aguinaldos</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid computer">&#xE4E5</i>
                    <span>Gestión de Nómina</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="importar_nomina.html">Importar Nómina</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="gestion_nomina.html">Gestionar Nómina</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Set completo papelería</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid file-invoice-dollar">&#xF571</i>
                    <span>Reportes Financieros</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Orden de Pago</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Certificado de Pago</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Relación Arch. TXT Ccs.</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Relación Arch. TXT Gob.</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid chart-bar">&#xF080</i>
                    <span>Reportes de Nomina</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="ver_prenomina.html">Pre - Nomina</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Pie de Fuerza</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid boxes-packing">&#xE4C7</i>
                    <span>Oficios Externos</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Ord. Pago Ccs-Visipol</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Ord. Pago Gob. Anz.</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Cuadro de Costos</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid book-bookmark">&#xE0BB</i>
                    <span>Retención de Ley</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">I.V.S.S.</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">BANAVIH</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">FONDO DE PENSIONES</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">P.I.E.</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid handshake-simple">&#xF4C6</i>
                    <span>Retenciones Voluntarias</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Cajas de Ahorro</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Sindicatos</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid gabel">&#xF0E3</i>
                    <span>Retención Ord. Judicial</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Pensión Alimenticia</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid user-shield">&#xF505</i>
                    <span>Gestión de Usuarios</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="crear_usuarios.html">Crear Usuario</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="asignar_roles.html">Asignar Roles</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="lista_usuarios.html">Lista de Usuarios</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer-menu">
        <ul class="menu">
            <li class="menu-item menu-item-dropdown">
                <a href="#" class="menu-link">
                    <i class="fa-solid user-cog">&#xF4FE</i>
                    <span>Configuración Personal</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="cambiar_password.html">Seguridad/Contraseña</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="preguntas_secretas.html">Preguntas Secretas</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu">
            <li class="menu-item menu-item-dropdown">
                <a href="#" class="menu-link">
                    <i class="fa-solid passport">&#xF5AB</i>
                    <span>Enlaces de Interes</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link">Seniat</a></li>
                    <li><a href="#" class="sub-menu-link">Contraloría Gral. Estado</a></li>
                </ul>
            </li>  
        </ul>
        <div class="menu-exit" id="menu-exit">
            <span>Salida</span>
            <i class="fa-solid right-to-bracket">&#xF2F6</i>
        </div>
    </div>
</div>
<script src="{% static 'javascript/menu_principal/sidebar.js' %}"></script>
<script src="{% static 'javascript/menu_principal/subs_menus/perfil_usuario.js' %}"></script>
<script src="{% static 'javascript/menu_principal/subs_menus/recibos_pagos.js' %}"></script>
<script src="{% static 'javascript/menu_principal/subs_menus/constancia_trabajo.js' %}"></script>
<script src="{% static 'javascript/menu_principal/subs_menus/arc.js' %}"></script>
<script src="{% static 'javascript/menu_principal/subs_menus/importar_nomina.js' %}"></script>
<script src="{% static 'javascript/menu_principal/subs_menus/gestion_nomina.js' %}"></script>
<script src="{% static 'javascript/menu_principal/subs_menus/prenomina.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_sidebar.css' %}">