<!DOCTYPE html>
<div class="sidebar" id="sidebar">
    <div class="header-menu">
        <div class="menu-btn" id="menu-btn">
            <i class="fa-solid chevron-left">&#x2329</i>
        </div>
        <div class="user">
            <div class="user-img">
                <img src="/static/usersphotos/V11418748.jpg" alt="user">
                <div class="user-data">
                    <span class="firstname">José</span>
                    <span class="firstapell">Fuentes</span>
                    <span class="lvlsecurity">Usuario</span>
                </div>
            </div>
        </div>
        <ul class="menu">
            <li class="menu-item menu-item-static">
                <a href="#" class="menu-link">
                    <i class="fa-solid house-chimney-window">&#xE00D</i>
                    <span>Noticias</span>
                </a>
            </li>
            <li class="menu-item menu-item-static hidden">
                <a href="#" class="menu-link">
                    <i class="fa-solid bell">&#xF0A2</i>
                    <span>Notificaciones</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid user-large">&#xF406</i>
                    <span>Perfil del Usuario</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="personas.tpl">Personal</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Laboral</a></li>
                </ul>
            </li>
        
            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid print">&#x2399</i>
                    <span>Servicios del Usuario</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Recibo de Pago</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Constancia de Trabajo</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Certificación de Ingreso</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Relación de Vacaciones</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Relación de Aguinaldos</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid computer">&#xE4E5</i>
                    <span>Gestión de Datos</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Importar valores a nómina</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Eliminar nómina cargada</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Set completo papelería</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid file-invoice-dollar">&#xF571</i>
                    <span>Reportes Financieros</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Orden de Pago</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Certificado de Pago</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Relación Arch. TXT Ccs.</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Relación Arch. TXT Gob.</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid chart-bar">&#xF080</i>
                    <span>Reportes de Nomina</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Pre - Nomina</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Pie de Fuerza</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid boxes-packing">&#xE4C7</i>
                    <span>Oficios Externos</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Ord. Pago Ccs-Visipol</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Ord. Pago Gob. Anz.</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Cuadro de Costos</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid book-bookmark">&#xE0BB</i>
                    <span>Retención de Ley</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">I.V.S.S.</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">BANAVIH</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">FONDO DE PENSIONES</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">P.I.E.</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid handshake-simple">&#xF4C6</i>
                    <span>Retenciones Voluntarias</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Cajas de Ahorro</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu">Sindicatos</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid gabel">&#xF0E3</i>
                    <span>Retención Ord. Judicial</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu">Pensión Alimenticia</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item-dropdown OpcMenu">
                <a href="#" class="menu-link">
                    <i class="fa-solid gear">&#x2699</i>
                    <span>Configuración del Sistema</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="plantlaboral.tpl">Plantilla Laboral</a></li>
                    <li><a href="#" class="sub-menu-link OpcMenu" data-template="lvlsecurity.tpl">Ctrl. de Acceso por Roles</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer-menu">
        <ul class="menu">
            <li class="menu-item menu-item-dropdown">
                <a href="#" class="menu-link">
                    <i class="fa-solid users-gear">&#xF509</i>
                    <span>Ajustes del Usuario</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link">Información Personal</a></li>
                    <li><a href="#" class="sub-menu-link">Seguridad / Contraseña</a></li>
                    <li><a href="#" class="sub-menu-link">Preguntas Secretas</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu">
            <li class="menu-item menu-item-dropdown">
                <a href="#" class="menu-link">
                    <i class="fa-solid passport">&#xF5AB</i>
                    <span>Enlaces de Interes</span>
                    <i class="fa-solid chevron-down">&#xF078</i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" class="sub-menu-link">Seniat</a></li>
                    <li><a href="#" class="sub-menu-link">Contraloría Gral. Estado</a></li>
                </ul>
            </li>  
        </ul>
        <div class="menu-exit" id="menu-exit">
            <span>Salida</span>
            <i class="fa-solid right-to-bracket">&#xF2F6</i>
        </div>
    </div>
</div>
<script src="/javascript/common.js?v=1.0" defer></script> 
<script src="/javascript/sidebar.js?v=1.0" defer></script> 
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">