/* Reset General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}

/* Estilos para la cabecera */
.Header {
    background-color: #1E2A39;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.header-text p {
    margin: 0;
    line-height: 1; /* Ajusta el valor según necesites */
}

.CntHeader {
    display: flex;
    align-items: center;
}

.logo-left {
    margin-right: 15px; /* Separación de 15px entre logo-left y text-center */
}

.text-center {
    text-align: left;
    flex-grow: 1;
}

/* Estilos para los logos */
.logo-left, .logo-right {
    flex-basis: 10%;
    display: flex;
    justify-content: center; /* Centra los logos horizontalmente */
}

.header-text {
    color: white;
    font-size: 12px; /* Tamaño de fuente más pequeño */
    line-height: 0.2; /* Espaciado mínimo entre líneas */
    margin: 0;
    padding: 0;
    text-align: left; /* Alineado a la izquierda */
}

/* Estilos para el pie de página */
.FooterWeb {
    background-color: #1E2A39;
    color: white;
    margin-top: auto;
    padding: 10px;
    text-align: right;
    /*margin-top: 50px;*/ 
}

/* Estilos para el contenedor principal */
.container {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se reorganicen en pantallas pequeñas */
}

/* Estilos para las secciones izquierda y derecha */
.left-section, .right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajustes específicos para la sección izquierda */
.left-section {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra el formulario horizontalmente */
    align-items: center;     /* Centra el formulario verticalmente */
    max-width: 500px;
}

.right-section {
    flex: 1;
    background: url('{% static "/image/fondo_login.jpg" %}') no-repeat center center;
    background-size: cover;
    overflow: hidden; /* Asegura que la imagen no se desborde */
    height: 100vh;
}

/* Estilos para el formulario */
.form-container {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input, .input-group select, .input-group button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Espacio entre los elementos */
    box-sizing: border-box;
}

.input-group .prefix {
    flex: 0 0 55px; /* Ajusta el ancho del select */
    margin-right: 10px; /* Espacio entre el select y el input */
}

.input-group #CodIdentPsna {
    flex: 1; /* Permite que el input ocupe el resto del espacio disponible */
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select, .form-group button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

.form-group button {
    background-color: #1E2A39;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #0574ff; /*  #3A506B; */
}

button:disabled {
    pointer-events: none; /* Desactiva las interacciones del mouse */
    opacity: 0.5; /* Cambia la apariencia para mostrar que está desactivado */
}

.toggle-password {
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

.toggle-password.fa-eye-slash {
    color: #1E2A39;
}

.fa-eye.disabled {
    pointer-events: none;
    opacity: 0.5; /* Cambia la opacidad para indicar que está deshabilitado */
}

.alert {
    color: red;
    text-align: center;
    margin-top: 10px;
    display: block;
}

.form-links {
    text-align: center;
    margin-top: 20px;
}

.form-links a {
    color: #1E2A39;
    text-decoration: none;
}

/* Estilos para el pie de página */
.footer {
    background-color: #1E2A39;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/*ESTILOS DIEGO*/
/* Contenedor Principal */
.formulario {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    margin: auto auto;
    margin-bottom: 50px;
}

  /* Imagen Ajustada */
.formulario__imagen {
    width: 55%;
    overflow: hidden;
}

.formulario__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

  /* Formulario Contenedor */
.formulario__contenedor {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.formulario__contenedor__contenido {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out; /* en prueba*/
}

.formulario__contenido__autenticacion,
.formulario__contenido {
    min-width: 105%;
    transition: trasnform 0.5s ease-in-out;
    /*border: 5px solid red;*/
}
.formulario__contenido__preguntasseguridad {
    min-width: 105%;
    transition: trasnform 0.5s ease-in-out;
    /*border: 5px solid red;*/
}

/* Barra de ubicacion de procesos*/
.formulario__contenedor__barraprogreso {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.label {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}
.line {
    width: 80px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.12);
}
.active .number {
    background-color: #0056b3;
}
.active .label {
    font-weight: bold;
    color: #0056b3;
}

.formulario__titulo, .formulario__titulo1{
    font-size: 1.8rem;
    color: #1E2A39;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.formulario__contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 500px;
}

/* FORMULARIO CONTENIDO 1*/
.formulario__contenido__autenticacion {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 50px;
    align-items: center;
}

.formulario__contenido__autenticacion h2 {
    margin-top: 10px;
}

.formulario__prefijo {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el prefijo y el input */
}

.formulario__prefijo select {
    width: auto;
    padding: 12px;
    border-radius: 10px;
    border: 3px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
    appearance: none; /* Elimina el estilo por defecto del navegador */
}

  /* Estilos Generales para Inputs y Labels */
.formulario__contenido label {
    width: 100%;
    color: #1E2A39;
}

.formulario__input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 3px solid #ccc;
}

  /* Campos en la Misma Línea */
.formulario__contenido__nombre,
.formulario__contenido__apellido,
.formulario__contenido__nombre2,
.formulario__contenido__apellido2,
.formulario__contenido__contraseña,
.formulario__contenido__confirmarcontraseña {
    width: calc(50% - 15px);
}

  /* Ajustes para Botones */
.formulario__boton__crearcuenta, .formulario__boton__autenticacion, .boton__anterior, .boton__confirmar, .formulario__boton__crearcuenta__anterior {
    background-color: #1E2A39;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
}

.formulario__boton__crearcuenta:hover, .formulario__boton__autenticacion:hover, .boton__anterior:hover, .boton__confirmar:hover, .formulario__boton__crearcuenta__anterior:hover {
    background-color: #0574ff;
}

.formulario__texto a {
    color: #1E2A39;  /* Color del texto */
    text-decoration: none;  /* Eliminar el subrayado */
}

.formulario__texto {
    margin-top: 15px;  /* Ajusta el valor según lo necesites */
}

  /* Responsivo */
@media screen and (max-width: 750px) {
    .formulario {
    flex-direction: column;
    }

.formulario__imagen {
    width: 100%;
    height: 200px;
    }

.formulario__contenedor {
    width: 100%;
    }

.formulario__contenido__nombre,
.formulario__contenido__apellido,
.formulario__contenido__nombre2,
.formulario__contenido__apellido2,
.formulario__contenido__contraseña,
.formulario__contenido__confirmarcontraseña {
    width: 100%;
}
}

@media screen and (max-width: 580px) {
    html {
    font-size: 14px;
    }
}

/*ESTILOS DIEGO*/

/* Consultas de medios para mejorar la responsividad */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .left-section, .right-section {
        max-width: 100%;
        margin: 10px 0;
    }

    .input-group input, .input-group select, .input-group button {
        margin-right: 0;
        margin-bottom: 10px; /* Espacio entre los elementos en pantallas pequeñas */
    }

    .input-group .prefix {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form-group input, .form-group select, .form-group button {
        margin-bottom: 10px; /* Espacio entre los elementos en pantallas pequeñas */
    }
}
/* Contenedor principal */
.formulario__contenido__preguntasseguridad {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}

/* Estilos para cada grupo de pregunta */
.formulario__grupo {
    margin-bottom: 15px;
}

/* Etiquetas */
.formulario__grupo label {
    display: block;
    font-size: 14px;
    color: #003366;
    margin-bottom: 5px;
}

/* Select */
.formulario__select {
    width: 100%;
    padding: 12px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

/* Inputs */
.formulario__input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 3px solid #ccc;
}

/* Botones */
.formulario__botones, .formulario__botones__crearcuenta {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}
.formulario__botones__crearcuenta {
    margin-right : 10px;
}

.formulario__contenedor.toggle .formulario__contenedor__contenido {
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out; /*importante para mover a la izquierda*/
}

.formulario__contenedor.toggle-2 .formulario__contenedor__contenido {
    transform: translateX(-213%); /* Mover más a la izquierda */
    transition: transform 0.5s ease-in-out;
}

.formulario__contenedor.toggle-3 .formulario__contenedor__contenido {
    transform: translateX(-107%);
    transition: transform 0.5s ease-in-out;
}
.formulario__contenedor.toggle-4 .formulario__contenedor__contenido {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}

.step.active .number {
    background-color: #d41922;
    color: white;
    font-weight: bold;
}

/* Asegura que los pasos no se distorsionen */
.step, .number {
    cursor: pointer;
    transition: 0.3s;
}

.step:hover {
    opacity: 0.8;
}

/*Desactivar barra de procesos no desbloqueados*/
.step.disabled {
    pointer-events: none;  /* Desactiva la interacción */
    opacity: 0.5; /* Cambia la apariencia para mostrar que está deshabilitado */
}
.step.completed .number {
    background-color: #0574ff; /* Azul para pasos ya desbloqueados */
}


/*formulario recuperar cuenta*/


