<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main class="formulario">
        <div class="formulario__imagen">
            <img src="{% static 'image/logo_crearcuenta.jpg' %}" alt="Imagen de Crear Cuenta">
        </div>
    
        <div class="formulario__contenedor">
            <div>
                <h1>Gestión de Cuenta</h1>
                <div class="formulario__contenedor__barraprogreso">
                    <div class="step active" id="step1" onclick="goToStep(1)">
                        <div class="number">1</div>
                        <div class="label">Verificación de Usuario</div>
                    </div>
                    <div class="line"></div>
                    <div class="step" id="step2" onclick="goToStep(2)">
                        <div class="number">2</div>
                        <div class="label">Crear Cuenta</div>
                    </div>
                    <div class="line"></div>
                    <div class="step" id="step3" onclick="goToStep(3)">
                        <div class="number">3</div>
                        <div class="label">Preguntas de Seguridad</div>
                    </div>
                </div>
            </div>
    
            <div class="formulario__contenedor__contenido">
                <form class="formulario__contenido__autenticacion" id="formulario1" method="POST">
                    {% csrf_token %}
                    <h2 class="formulario__titulo1">Autenticación de Usuario</h2>
                    <!-- Sección de la cédula -->
                    <div class="formulario__contenido__cedula">
                        <label for="">Número de Cédula:</label>
                        <div class="formulario__prefijo">
                            <select id="prefijo" name="prefijo" class="prefijo" aria-label="Prefijo de cédula">
                                <option value="V" {% if prefix == 'V' %}selected{% endif %}>V</option>
                                <option value="E" {% if prefix == 'E' %}selected{% endif %}>E</option>
                                <option value="P" {% if prefix == 'P' %}selected{% endif %}>P</option>
                            </select>
                            <input class="formulario__input" type="text" id="formulario_cedula" name="formulario_cedula" placeholder="Ej: 99.999.999" value="{{ id_number }}" required>
                        </div>
                    </div>
                    <button id="formulario__boton__autenticacion" class="formulario__boton__autenticacion" type="submit">Siguiente</button>
                </form>
    
                <form class="formulario__contenido" id="form-crear-cuenta" method="POST" action="crear_cuenta_empleado/">
                    {% csrf_token %}
                    <h2 class="formulario__titulo">Crear Cuenta</h2>
                    
    
                    <!-- Sección de primer nombre -->
                    <div class="formulario__contenido__nombre">
                        <label class="formulario__label" for="primer_nombre">Primer Nombre</label>
                        <input class="formulario__input" type="text" name="primer_nombre" id="input_nombres" required>
                    </div>
                    
                    <!-- Sección de primer apellido -->
                    <div class="formulario__contenido__apellido">
                        <label class="formulario__label" for="primer_apellido">Primer Apellido</label>
                        <input class="formulario__input" type="text" name="primer_apellido" id="input_apellidos" required>
                    </div>
                    
                    <!-- Sección de segundo nombre -->
                    <div class="formulario__contenido__nombre2">
                        <label class="formulario__label" for="segundo_nombre">Segundo Nombre</label>
                        <input class="formulario__input" type="text" name="segundo_nombre" id="segundo_nombre" required>
                    </div>
                    
                    <!-- Sección de segundo apellido -->
                    <div class="formulario__contenido__apellido2">
                        <label class="formulario__label" for="segundo_apellido">Segundo Apellido</label>
                        <input class="formulario__input" type="text" name="segundo_apellido" id="segundo_apellido" required>
                    </div>
    
                    <!-- Sección de correo -->
                    <div>
                        <label class="formulario__contenido__correo" for="email">Correo Electronico</label>
                        <input class="formulario__input" type="email" name="email" id="email" required>
                    </div>
    
                    <!-- Sección de contraseña -->
                    <div class="formulario__contenido__confirmarcontraseña">
                        <label class="formulario__label" for="contraseña">Contraseña</label>
                        <input class="formulario__input" type="password" name="contraseña" id="contraseña" required>
                    </div>
    
                    <!-- Sección de Confirmar Contraseña -->
                    <div class="formulario__contenido__confirmarcontraseña">
                        <label class="formulario__label" for="confirmar_contraseña"> Confirmar Contraseña</label>
                        <input class="formulario__input" type="password" name="confirmar_contraseña" id="confirmar_contraseña" required>
                    </div>
                    <div id="error_messages"></div>
    
                    <!-- Botón para crear cuenta -->
                    <div class="formulario__botones__crearcuenta">
                        <button id="formulario__boton__crearcuenta__anterior" class="formulario__boton__crearcuenta__anterior" type="button">Anterior</button>
                        <button id="formulario__boton__crearcuenta" class="formulario__boton__crearcuenta" type="submit">Crear Cuenta</button>
                    </div>
                </form>

                <!--Formulario 3-->
                <form id="formulario__contenido__preguntasseguridad" class="formulario__contenido__preguntasseguridad">
                    <h2 class="formulario__titulo">Preguntas de Seguridad</h2>
                    
                    <!-- Pregunta 1 -->
                    <div class="formulario__grupo">
                        <label for="pregunta1">01 Pregunta Seguridad *</label>
                        <select id="pregunta1" class="formulario__select">
                            <option value="" disabled selected>Seleccione una pregunta</option>
                            <option value="mascota">¿Cuál es el nombre de tu primera mascota?</option>
                            <option value="escuela">¿En qué escuela primaria estudiaste?</option>
                            <option value="ciudad">¿En qué ciudad naciste?</option>
                        </select>
                        <input type="text" id="respuesta1" class="formulario__input" placeholder="Ingrese su respuesta">
                    </div>
            
                    <!-- Pregunta 2 -->
                    <div class="formulario__grupo">
                        <label for="pregunta2">02 Pregunta Seguridad *</label>
                        <select id="pregunta2" class="formulario__select">
                            <option value="" disabled selected>Seleccione una pregunta</option>
                            <option value="color">¿Cuál es tu color favorito?</option>
                            <option value="madre">¿Cuál es el segundo nombre de tu madre?</option>
                            <option value="deporte">¿Cuál es tu deporte favorito?</option>
                        </select>
                        <input type="text" id="respuesta2" class="formulario__input" placeholder="Ingrese su respuesta">
                    </div>
            
                    <!-- Pregunta 3 -->
                    <div class="formulario__grupo">
                        <label for="pregunta3">03 Pregunta Seguridad *</label>
                        <select id="pregunta3" class="formulario__select">
                            <option value="" disabled selected>Seleccione una pregunta</option>
                            <option value="pelicula">¿Cuál es tu película favorita?</option>
                            <option value="amigo">¿Cómo se llama tu mejor amigo de la infancia?</option>
                            <option value="comida">¿Cuál es tu comida favorita?</option>
                        </select>
                        <input type="text" id="respuesta3" class="formulario__input" placeholder="Ingrese su respuesta">
                    </div>
            
                    <!-- Botones -->
                    <div class="formulario__botones">
                        <button id="boton__anterior" class="boton__anterior" type="button">Anterior</button>
                        <button id="boton__confirmar" class="boton__confirmar" type="button">Confirmar</button>
                    </div>
                </form>
            </div>
    
            <p class="formulario__texto">¿Ya tienes una cuenta? <a href="/login" class="formulario_enlace"> Iniciar Sesión</a></p>
        </div>
    </main>
        <!-- Enlace al archivo JavaScript -->
    <script src="{% static 'javascript/script.js' %}"></script>
    <footer class="FooterWeb">
        {% include 'footer.html' %}
    </footer>
</body>
</html>