{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="{% static 'javascript/common.js' %}"></script>
</head>
<body>
    <h1>Bienvenido, {{ user.email }}</h1>
    <button onclick="logout()">Cerrar sesión</button>

    <script>
        function logout() {
            localStorage.removeItem('access_token');
            localStorage.removeItem('refresh_token');
            window.location.href = '/login/';
        }
    </script>
</body>
</html>