{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recibos de Pago</title>
        <link rel="stylesheet" href="estilos.css">
        <link rel="stylesheet" href="{% static 'css/recibo_pago.css' %}">
    </head>
    <body>
        <h1>Listado de Recibos de Pago</h1>
        <div class="contenedor-tabla-recibos">
            <table class="tabla-recibos">
                <thead class="tabla-recibos__thead">
                    <tr class="tabla-recibos__fila">
                        <th class="tabla-recibos__columna">Fecha</th>
                        <th class="tabla-recibos__columna">Nombre</th>
                        <th class="tabla-recibos__columna">Cargo</th>
                        <th class="tabla-recibos__columna">Acciones</th>
                    </tr>
                </thead>
                <tbody class="tabla-recibos__tbody">
                    <tr class="tabla-recibos__fila" onclick="reciboModal__abrir('Diana Estefania de los Angeles Garcia Siran')">
                        <td class="tabla-recibos__celda">30/Mar/2025</td>
                        <td class="tabla-recibos__celda">Diana Estefania</td>
                        <td class="tabla-recibos__celda">Asistente Administrativo I</td>
                        <td class="tabla-recibos__celda">
                            <button class="tabla-recibos__boton">Ver Recibo</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

        <!-- Modal del recibo -->
        
        <div class="recibo-modal" id="reciboModal">
            <div class="recibo-modal__contenido" id="contenidoRecibo">

            </div>
            <div class="recibo-modal__acciones">
                <button class="recibo-modal__boton" onclick="ImprimirRecibo()">Imprimir</button>
                <button class="recibo-modal__boton" onclick="reciboModal__cerrar()">Cerrar</button>
            </div>
        </div>
    <script src="{% static 'javascript/menu_principal/subs_menu/recibo_pago.js' %}"></script>
    </body>
</html>